.BtnCrear{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background: linear-gradient(144deg, rgb(4, 69, 155) 0%, rgba(25,227,130,1) 100%);
    border: none;
    border-radius: 8px;
    width: 12em;
    height: 2.2em;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    float: right;
    cursor: pointer;
}
.BtnCrear:hover{
   box-shadow: 5px 4px 15px -6px rgba(0, 0, 0, 0.64);;
}
.BtnCrear>svg{
    justify-self: center;
}
.BtnEliminar{
    background: linear-gradient(
    133deg,
     rgb(223, 121, 5) 0%,
     rgb(221, 188, 4) 100%
  );
}