.ContenedorLibros > h2{
    color: black;
    margin-top: 2em;
}
.ContenedorLibros > p{
    font-size: 3.5em;
    color: gray;
    text-align: center;
}
.ListaDescripcion{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.ListaLibros{
    display: grid;
    grid-template-columns: 20% 60% auto;
}