.contenedorBN{
    display: grid;
    grid-template-columns: 55% auto;
}
.contenedorBN__texto >h2 {
    color:black;
    font-size: 2em;
}
.contenedorBN__IMG > img{
    float: right 20;
    height: 19em;
}
p > span{
    display : block;
}
.contenedorBN__texto{
    align-self: center;
    justify-self: center;
}
.contenedorBN__texto >p{
    font-size: 1.8em;
}